.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & > h2{
        flex: 100%;
    }

    & .product__title{
        text-transform: capitalize;
        width: 100%;
        text-align: center;
        margin-bottom: 5rem;
        font-weight: 900;
        color: #1A0B5B;
    }

    & .product__container{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 6rem;
        width: 1200px;
        margin: auto;
    
        & .product__wrapper{
            position: relative;
            padding: 0 2rem;
            color: #151875;
            font-weight: 700;
    
            & .product__wrapper__img{
                width: 100%;
                height: 20rem;
            }
    
            &:hover .product__wrapper__img{
                opacity: 0.5;
            }
    
            & .product__wrapper__add{
                position: absolute;
                transition: all 0.3s ease-in-out;
                opacity: 0;
                cursor: pointer;
                text-align: center;
                justify-content: center;
                top: 50%;
                left: 10%;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #EEEFFB;

                & .product__wrapper__add__svg{
                    vertical-align: -0.35em !important;
                    color: #2F1AC4;
                }
            }
    
            &:hover .product__wrapper__add{
                opacity: 1;
                display: block;
            }

            & .product__wrapper__add:hover{
                opacity: 0.5;
            }
    
            & .product__wrapper__name{
                padding-top: .5rem;
            }
    
            & .product__wrapper__price{
                transform: translate(85%, -100%);
            }
        }
    }
}