.product{

    display: flex;
    flex-wrap: wrap;
    padding-bottom: 6rem;
    width: 1250px;
    margin: auto;
    margin-top: -10rem;

    & .product__wrapper{
        position: relative;

        & .product__wrapper__img{
            width: 100%;
            height: 20rem;
        }

        // & .product__wrapper__img:hover{
        //     opacity: 0.5;
        // }

        .product__wrapper__add{
            position: absolute;
            width: 100%;
            background-color: darkgrey;
            transition: all 0.3s ease-in-out;
            opacity: 0;
            cursor: pointer;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -40%);
        }

        // & .product__wrapper__img:hover .add-cart{
        //     bottom: 50%;
        //     opacity: 1;
        //     padding: 0.625rem;
        //     z-index: 2;
        // }

        & .product__wrapper__img:hover .product__wrapper__add{
            opacity: 1;
        }

        & .product__wrapper__name{
            transform: translate(10%, 150%);

        }

        & .product__wrapper__price{
            transform: translate(80%, -150%);

        }
    }
}