$primary-color: #051a34;
$second-color: #0431b4;
$margin1-color: #2267a3;
$margin2-color: #26838e;
$white-color: #fff;
$black-color: #000;

$font-sizes: (
  "large": 48px,
  "medium": 36px,
  "medium2": 32px,
  "small": 1.75rem,
  "small1": 28px,
  "small2": 24px,
  "small3": 22px,
  "smaller": 20px,
  "x-small": 18px,
  "x-small2": 16px,
  "x-small3": 14px,
);

$font-weights: (
  "bold": 700,
  "normal": 500,
);