mixin itemlist()
    .item-list  
        img.item-list__photo(src="", alt="")
        .item-list__price 
        input.item-list__quantity(type="text")
        button.item-list__remove

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        div 
            .item-container 
                +itemlist()
                +itemlist()
        .price-total
        script(src="..main.js") 