doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title 
        link(rel="stylesheet" href="../css/style.css")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous")
        link(rel="icon" href="https://www.neurond.com/favicon.svg?v=e12740d8a74aaae3b8b4e24eeec0bf04" type="image/svg+xml")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet")

    body 
        include ../pug/header.pug

        main
            .d-flex.align-items-center.flex-column
                .container.justify-content-center
                    .row.justify-content-center 
                        .col-12.col-md-10.hh-grayBox.pt45.pb20
                            .justify-content-between.d-flex
                                a.order-tracking.completed(href="../product/product.html")
                                    span.is-complete 
                                    p Shop 
                                a.order-tracking.completed(href="../payment/payment.html")
                                    span.is-complete 
                                    p Review 
                                a.order-tracking.completed(href="../checkout/checkout.html")
                                    span.is-complete 
                                    p Checkout

                .item-container#containerCheckout
                    .item-container__bill.col-4 
                        h3 Billing Details
                        form
                            p.form-row 
                                label(for="billing-first-name") First name
                                input(type="text" id="billing-first-name" placeholder value)
                            p.form-row 
                                label(for="billing-last-name") Last name
                                input(type="text" id="billing-last-name" placeholder value)
                            p.form-row 
                                label(for="billing-address") Address
                                input(type="text" id="billing-address" placeholder value)
                    .item-container__order.col-4 
                        h3 Your order
                        table.item-container__cart-table
                            tbody.item-container__cart-tbody
                    .item-container__checkout-payment.col-4 
                        h3 Checkout Payment
                        .item-container__checkout-info 
                            .first-name First Name:&nbsp;
                            .last-name Last Name:&nbsp;
                            .address Address:&nbsp;
                            .count Totals&nbsp;
                        .item-container__cart-checkout#checkoutPage
                            a.checkout-button Checkout
            .d-flex.align-items-center.flex-column#finalText
                .item-container__bill
                    h3 Thank you for your purchase.
                    .item-container__cart-checkout
                            a.checkout-button(href="../product/product.html") Homepage

        include ../pug/footer.pug

        script(src="../checkout.js") 
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous")